@page "/modals/postfull"
@using Microsoft.JSInterop
@using Microsoft.Maui
@using Hiyakasudere.Data.Internal.Data.Post
@using Hiyakasudere.Data.Internal.MultiplatformInterfaces
@using Hiyakasudere.Data.Internal.Functionality.ImageUtils

@inject IJSRuntime JS
@inject IImageNetUtils ImgNetUtils
@inject IFileManager FileManager

@if (imgData == null)
{

    <div class="d-flex justify-content-center flex-nowrap" style="padding: 5px">
        <div class="align-self-center">
            <div class="spinner-grow text-danger" role="status"></div>
        </div>
    </div>

}
else
{
    <img src="@imgData" class="card-img-top rounded img-fluid" id="fullImageImg">

    <div class="d-flex justify-content-center flex-nowrap" style="padding: 5px">
        <input class="btn btn-primary" value="Save Image" @onclick="SaveImage">
    </div>
    
}

@code {
    private PostInternal booruPost = null;
    private IJSObjectReference module;
    private string imgData = null;

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;
    [Parameter] public PostInternal PostData { get; set; }

    protected override async Task OnInitializedAsync()
    {
        booruPost = PostData;
        module = await JS.InvokeAsync<IJSObjectReference>("import", "./Pages/Modals/ModalPostFull.razor.js");

        var baseImg = await ImgNetUtils.GetImageAsBase64(booruPost.SampleUrl.AbsoluteUri.ToString());
        imgData = "data:image/png;base64," + baseImg;
    }

    protected async Task SaveImage()
    {
        var imgData = await ImgNetUtils.GetImageAsBase64(booruPost.OriginalUrl.AbsoluteUri.ToString());

        await FileManager.SaveImage(imgData, "Hiyakasudere" + "_" + DateTime.Now.ToFileTime());

    }
}