@page "/modals/postfull"
@inject IJSRuntime JS

@using Hiyakasudere.Data.Internal.Data.Post

@if (booruPost == null)
{
     <p><em>Loading...</em></p>
}
else
{
    <img src="@booruPost.OriginalUrl.AbsoluteUri" class="card-img-top rounded img-fluid" id="fullImageImg">

    <input class="btn btn-primary" value="Save Image" @onclick="SaveImage">
}

@code {
    private PostInternal booruPost = null;
    private IJSObjectReference module;

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;
    [Parameter] public PostInternal PostData { get; set; }

    protected override async Task OnInitializedAsync()
    {
        booruPost = PostData;
        module = await JS.InvokeAsync<IJSObjectReference>("import", "./Pages/Modals/ModalPostFull.razor.js");        
    }

    protected void SaveImage()
    {
        System.Diagnostics.Debug.WriteLine(booruPost.OriginalUrl.AbsoluteUri.ToString());
    }
}