<div class="d-flex flex-column flex-shrink-0 sidebar">
	<a @onclick="ToggleNavMenu" class="d-block p-3 link-dark text-decoration-none col-auto text-center">
		<img src="images/llogo.png" width="40" />
	</a>
    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
		<ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
			<li>
				<a href="posts" class="nav-link py-3 border-bottom rounded-0">
				   <span class="oi oi-grid-three-up text-white" aria-hidden="true"></span>
				</a>
			</li>
			<li>
				<a href="settings" class="nav-link py-3 border-bottom rounded-0">
					<span class="oi oi-cog text-white" aria-hidden="true"></span>
				</a>
			</li>
		</ul>
	</div>
</div>

@code {
	private bool collapseNavMenu = true;

	private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;


	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
