.pagination > li > a {
    background-color: white;
    color: #dc3545;
}

.pagination { 
    font-size: 1.1em;
}

    .pagination > li > a:focus,
    .pagination > li > a:hover,
    .pagination > li > span:focus,
    .pagination > li > span:hover {
        color: white;
        background-color: #dc3545;
        border-color: #ddd;
    }

.pagination > .active > a {
    color: white;
    background-color: #dc3545;
    border: solid 1px #dc3545;
}

    .pagination > .active > a:hover {
        background-color: #dc3545;
        border: solid 1px #dc3545;
    }

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}

.header {
    text-align: center;
    padding: 32px;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Five cols */
.column {
    -ms-flex: 20%; /* IE10 */
    flex: 20%;
    max-width: 20%;
    padding: 0 4px;
}

    .column img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
    }

/* Responsive - two cols */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive - stack cols */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}
