@page "/posts"
@using Hiyakasudere.Data.Internal.Data.Post
@using Hiyakasudere.Pages.Modals
@inject IPostTranslationService PostService

<h1 class="mb-3">Posts</h1>

<div class="carousel slide carousel-dark text-center"
     data-mdb-ride="carousel">
    <div class="carousel-inner py-4">
        <div class="carousel-item active">
            <div class="container">
                <div class="row justify-content-center">

                    @if (booruPosts == null)
                    {
                        <p><em>Loading...</em></p>
                    }
                    else
                    {

                        @foreach (var post in booruPosts.Select((elem, index) => ( elem, index )))
                        {
                            <div class="col-sm-2 align-self-center">
                                <div class="card" @onclick="() => ShowModal(post.index)">
                                    <img src="@post.elem.PreviewUrl" class="card-img-top rounded" />
                                </div>
                            </div>
                        }
                    }
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center flex-nowrap">
    <div class="text-white mx-2 p-2">
        <nav>
            <ul class="pagination">
                <li class="page-item"><a class="page-link" @onclick="PrevPage">Previous</a></li>
                <li class="page-item"><a class="page-link">@currentPage</a></li>
                <li class="page-item"><a class="page-link" @onclick="NextPage">Next</a></li>
            </ul>
        </nav>
    </div>
 </div>


@code {
    [CascadingParameter] IModalService Modal { get; set; } = default!;

    private IEnumerable<PostInternal> booruPosts;

    private int currentPage = 1;

    protected override async Task OnInitializedAsync()
    {
        await DisplayPage();
    }


    protected async Task DisplayPage()
    {
        booruPosts = await PostService.GetPostData(currentPage);
    }

    protected async Task NextPage()
    {
        currentPage++;
        await DisplayPage();
    }

    protected async Task PrevPage()
    {
        currentPage--;
        await DisplayPage();
    }

    private void ShowModal(int postId)
    {
        var options = new ModalOptions()
            {
                HideCloseButton = true,
                HideHeader = true,
                Position = ModalPosition.Middle
            };

        var parameters = new ModalParameters().Add("PostData", booruPosts.ElementAt(postId));

        var modal = Modal.Show<ModalPostFull>("", parameters, options);
    }
}
