@page "/settings"
@using Hiyakasudere.Data.Internal.Config
@using Hiyakasudere.Data.Internal.MultiplatformInterfaces
@inject IAppConfigService _appConfig;
@inject IFileManager _fileManager;

<h1>Settings</h1>

@if(configDataModel != null)
{
    <EditForm Model="@configDataModel" OnValidSubmit="@HandleValidSubmit">
        <p>
            <label>
                NSFW Enabler:
                <InputCheckbox @bind-Value="configDataModel.NSFWEnabled"></InputCheckbox>
            </label>
        </p>
        <p>
            <label>
                Source select:
                <InputSelect @bind-Value="configDataModel.SelectedSource">
                    <option value="1">Yandere</option>
                    <option value="2">Safebooru</option>
                </InputSelect>
            </label>
        </p>
        <p>
            <label>
                Displayed posts:
                <InputSelect @bind-Value="configDataModel.PostsPerPage">
                    <option value="12">12</option>
                    <option value="18">18</option>
                    <option value="24">24</option>
                    <option value="48">48</option>
                </InputSelect>
            </label>
        </p>
        <p>
            <button type="submit" class="btn btn-primary">Save settings</button>
        </p>
    </EditForm>

    <input class="btn btn-primary" value="Open Images Directory" @onclick="OpenSaveDir">
}


@code {

    private ConfigDataModel configDataModel;

    protected override void OnInitialized()
    {
        configDataModel = _appConfig.GetCurrentConfiguration();
    }

    private void HandleValidSubmit()
    {
        _appConfig.UpdateConfig(configDataModel.SelectedSource, configDataModel.PostsPerPage, configDataModel.NSFWEnabled);
    }

    private void OpenSaveDir()
    {
        _fileManager.OpenImagesDir();
    }
}
